<div class="question_container well">
  <span class="btn btn-danger pull-right" title="Remove this question" id="removeQuestion">X</span>
  <div class="form-group">
    <h3>Question</h3>
    <input type="text" class="form-control" placeholder="Enter a question" />
  </div>
  <div class="row answers_container">
    <div class="col-xs-10" id="answers">
    </div>
    <div class="col-xs-10">
      <button class="btn btn-primary" id="addAnswerBtn">
        + Add answer
      </button>
    </div>
  </div>
</div>