<div class="form-group answer">
        <label for="answer" class="control-label">Answer</label>
        <div class="input-group col-md-12">
            <input type="text" placeholder="Type answer here" class="form-control input-sm" />
            <span class="input-group-addon input-sm">
                <input type="checkbox" />
            </span>
            <span class="input-group-btn" id="removeAnswer" title="Delete answer">
                <button class="btn btn-danger btn-sm" type="button">
                    X
                </button>
            </span>
        </div>
    </div>