<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8" />
  <title>Survey Creator</title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" data-semver="3.2.0"
    data-require="bootstrap-css@3.2.0" />
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 survey-container">

        <header class="survey-builder">
          <h1>Survey Builder</h1>
          <button id="createBtn">Create new Survey</button>
        </header>

      </div>
    </div>
  </div>
</body>

</html>