<form class="survey form">
  <div class="form-group" id="title">
    <input type="text" class="form-control input-lg" id="surveyTitle" placeholder="Enter a Survey Title" />
  </div>

  <div class="form-group" id="description">
    <textarea class="form-control input-lg" name="description" rows="4" id="surveyDesription"
      placeholder="Write description: "></textarea>
  </div>

  <div id="questions">
  </div>

  <div class="btns">
    <button class="btn btn-success" title="Add new question" id="addQuestionBtn">+ Add new question</button>
    <div>
      <button class="btn btn-success" id="saveBtn">Save</button>
      <button class="btn btn-danger" id="deleteBtn">Delete</button>
    </div>
  </div>
</form>